.test-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  background-color: rgba(83, 242, 170, 0.31);
  border-radius: 10px;
  padding: 10px;
}
.title {
  padding: 5px;
  margin: 0;
}
